
.CSS_SEARCH_HORIZ {

}

.CSS_SEARCH_BAR {
  float: left
}

.CSS_LOADING_SPINNER {
  float: left;
  margin-left: 10px;
  margin-top: 3px;
}

.CSS_RESULTS {
  clear: both;
  float: left;
  margin-top: 30px;
}